.kaufman__triangle {
    width: 877px;
    height: 887px;
    position: absolute;
    background-size: cover;
    overflow: hidden;
    right: -210px;
    top: 0;
    background-image: url(../../../images/kaufman-triangle.svg);
  }